@model IEnumerable<AsmAppDev2.Models.AssignTrainertoTopic>
@{
    ViewBag.Title = "Index";
}

<h2>Trainer Topic</h2>

@if (User.IsInRole("Staff"))
{
    <p>@Html.ActionLink("Assign Trainer to Topic", "Create")</p>

    <table class="table">
        <tr>
            <th>Trainer</th>
            <th>Topic</th>
            <th>Delete</th>
        </tr>

        @foreach (var assign in Model)
        {
            <tr>
                <td>@assign.Trainer.UserName</td>
                <td>@assign.Topic.Name_Topic</td>

                @*<td>@Html.ActionLink("Edit", "Edit", new { id = assign.ID })</td>*@
                <td>@Html.ActionLink("Delete", "Delete", new { id = assign.ID })</td>
            </tr>
        }
    </table>
}
@if (User.IsInRole("Trainer"))
{
    <p>@Html.ActionLink("Assign Trainer to Topic", "Create")</p>

    <table class="table">
        <tr>
            <th>Topic</th>
        </tr>

        @foreach (var assign in Model)
        {
            <tr>
                <td>@assign.Topic.Name_Topic</td>

                @*<td>@Html.ActionLink("Edit", "Edit", new { id = assign.ID })</td>*@
                <td>@Html.ActionLink("Delete", "Delete", new { id = assign.ID })</td>
            </tr>
        }
    </table>
}
@Html.ActionLink("Back to home", "Index", "Home")